@tailwind base;
@tailwind components;
@tailwind utilities;

.input-gradient-border {
  border: 1px solid transparent;
  background-clip: padding-box;
  transition: border-color 0.3s ease-in-out;
}

.input-gradient-border:focus {
  border-image: linear-gradient(to right, #a855f7, #ec4899) 1;
  outline: none;
}
